<!DOCTYPE html>
<html lang="en">
<head>
     {{>header}}
</head>
<body>
      {{>navbar}}
     
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="Images/About.png" height="300px" alt="pic" class="img-fluid" title="Dev Hub" >
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>An app that helps you to get the accurate hourly and weekly weather Forecasts of the desired city you want. </p>
                        <h1>Provide you a <span class="text_clr">World wide</span> weather Forecast </h1>
                        <a href="#" target="_blank"><button>About Me</button></a>
                    </div>    
                    </div>
                </div>
            </div>
        </div>

<!-- footer -->
{{>footer}}

</body>
</html>